/* Constants */

:root {
    --drawer-open-extra-height: 2500px;
    --border-space-allowance: 10px;
    --hover-highlight-speed: 80ms;
    --drawer-animation-speed: 600ms;
    --scheme-switch-speed: 400ms;
}


/* Font face */

@font-face {
    font-family: 'Bahnschrift Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Bahnschrift Regular'), url('res/BAHNSCHRIFT 1.woff') format('woff');
}


/* General page formatting */

a {
    text-decoration: inherit;
    color: inherit;
}

a::before {
    display: inline-block;
    content: '>';
    padding-right: 10px;
    text-decoration: none;
}

sup {
    display: inline-block;
    transform: translate(0px, -6px);
}

typewriter {
    font-family: 'Lucida Console', monospace;
    font-size: 90%;
}


/* Topmost containers */

html,
body {
    overflow: visible;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

body {
    user-select: none;
    font-family: 'Bahnschrift Regular';
    text-transform: uppercase;
    height: 100%;
    width: 100%;
}

#zoomer {
    overflow-x: hidden;
    overflow-y: scroll;
}

#rotator {
    position: relative;
    height: 100%;
    width: 100%;
}

table {
    border-collapse: separate;
}


/* Init-time styling (used to calculate scaling factors in JS) */

body:not(.init) {
    transform-origin: top left;
}

body.init #menu {
    width: 1px;
}

body.init .header {
    padding-left: 0px;
}

body.init .bullets {
    display: none;
}

body.init #band5 {
    display: none;
}


/* Color scheme defaults */

body {
    --color-text: #181818;
}

body .header {
    padding-bottom: var(--border-space-allowance);
}


/* Color scheme 1 "Late Sunrise Over Green Earth" */

body[data-color-scheme=scheme1] {
    --color-1: #d97b29;
    --color-2: #f29f05;
    --color-3: #f2dc6b;
    --color-4: #7b8c3b;
    --color-5: #f2f2f2;
}


/* Color scheme 2 "Hello!" */

body[data-color-scheme=scheme2] {
    --color-1: #025159;
    --color-2: #03A696;
    --color-3: #F28705;
    --color-4: #F25D27;
    --color-5: #F20505;
}

body[data-color-scheme=scheme2] #band2 .header,
body[data-color-scheme=scheme2] #band3 .header,
body[data-color-scheme=scheme2] #band4 .header {
    border-bottom: var(--border-space-allowance) solid black;
    padding-bottom: 0px;
}


/* Color scheme 3 "1973" */

body[data-color-scheme=scheme3] {
    --color-1: #D9C58B;
    --color-2: #D9D4CC;
    --color-3: #8C3D0F;
    --color-4: #402617;
    --color-5: #8C583A;
}

body[data-color-scheme=scheme3] #band2 .header,
body[data-color-scheme=scheme3] #band3 .header,
body[data-color-scheme=scheme3] #band4 .header {
    border-bottom: var(--border-space-allowance) solid var(--color-1);
    padding-bottom: 0px;
}


/* Color scheme 4 "Racer" */

body[data-color-scheme=scheme4] {
    --color-1: darkorange;
    --color-2: white;
    --color-3: turquoise;
    --color-4: white;
    --color-5: darkorange;
}


/* Color scheme 5 "Alert" */

body[data-color-scheme=scheme5] {
    --color-1: darkred;
    --color-2: white;
    --color-3: black;
    --color-4: white;
    --color-5: black;
}

body[data-color-scheme=scheme5] #band1,
body[data-color-scheme=scheme5] #band3 {
    color: white;
}

body[data-color-scheme=scheme5] #menu tr:hover .header-text {
    text-shadow: -4px 0 0 black, -6px 0 0 white, -8px 0 0 white, -10px 0 0 white, -12px 0 0 black;
}

body[data-color-scheme=scheme5] #band1 .bullets li:hover,
body[data-color-scheme=scheme5] #band3 .bullets li:hover {
    text-decoration-color: white;
}


/* Color scheme application */

#band0>td,
#band1>td,
#sample-band-1 {
    background-color: var(--color-1);
}

body #band2>td,
#sample-band-2 {
    background-color: var(--color-2);
}

body #band3>td,
#sample-band-3 {
    background-color: var(--color-3);
}

body #band4>td,
#sample-band-4 {
    background-color: var(--color-4);
}

body,
body #band5>td,
#sample-band-5 {
    background-color: var(--color-5);
}

body {
    color: var(--color-text);
}


/* Menu and bands */

#menu {
    margin-left: -9900px;
    width: 20000px;
    transform: translate(10px, -1910px);
}

.header {
    position: relative;
    width: 1px;
    padding-top: 120px;
    padding-left: 10000px;
    padding-right: 20px;
    text-align: right;
    font-size: 125px;
    z-index: 1;
}

.ext {
    position: relative;
    transform: rotate(30deg);
    transform-origin: top left;
    width: 10000px;
}

.header,
.ext {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0));
}

.header-text {
    transition-property: all;
    transition-duration: 600ms;
}

#menu tr:hover .header-text,
.active-band:not(#band1) .header-text {
    text-shadow: -6px 0 1vw rgba(255, 255, 255, 0.25), -6px 0 rgba(255, 255, 255, 0.7), -6px 0 rgba(255, 255, 255, 0.7), -7px 0 rgba(128, 128, 128, 0.25);
    cursor: pointer;
    transition: text-shadow var(--hover-highlight-speed);
}

#band1.active-band:hover .header-text {
    text-shadow: none;
    cursor: default;
}

body[data-active-band=band1] #band1 .header-text,
body[data-active-band=band2] #band2 .header-text,
body[data-active-band=band3] #band3 .header-text,
body[data-active-band=band4] #band4 .header-text {
    transition-duration: 1800ms;
}


/* Band tweaks */

body.init #band0>td {
    height: 0;
}

#band0>td {
    height: 2000px;
    position: relative;
    top: 3px;
}

#band1>td {
    background-image: none;
}

#band1>td {
    font-size: 160px;
}

#band2>td {
    top: -3px;
}

#band3>td {
    top: -4px;
}

#band4>td {
    top: -5px;
}

#band5>td {
    top: -6px;
}

#band5 {
    height: 400px;
}

.ext {
    left: -2px;
}

#band2 .bullets {
    transform: translate(582px);
}

#band3 .bullets {
    transform: translate(344px);
}

#band4 .bullets {
    transform: translate(510px);
}


/* Bullet lists */

.bullets {
    display: block;
    max-height: 0;
    overflow: hidden;
    font-size: 55px;
    margin-bottom: 0px;
}

@media only screen and (max-width: 768px) {
    /* For mobile portrait layout */
    .bullets {
        font-size: 65px;
    }
}

.bullets>ul {
    margin-top: 60px;
}

.bullets li {
    text-align: left;
}

.bullets li+li {
    padding-top: 40px;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: rgba(37, 36, 36, 0.9);
}


/* Scheme switcher */

#scheme-switcher {
    position: fixed;
    right: 2vw;
    bottom: 2vw;
    opacity: 0.6;
    transition: opacity 0.15s;
    zoom: 0.8;
}

#scheme-switcher:hover {
    opacity: 1;
    transition: opacity 0.15s;
}

#scheme-switcher * {
    display: inline-block;
    box-sizing: content-box;
    cursor: default;
    vertical-align: middle;
}

#left-scheme,
#right-scheme {
    text-shadow: 0px 1px 0px #f2f2f2, -1px -1px 0 #f2f2f2, 1px -1px 0 #f2f2f2, -1px 1px 0 #f2f2f2, 1px 1px 0 #f2f2f2;
    font-size: 6ex;
    color: rgba(0, 0, 0, 0.95);
    cursor: pointer;
    transition-duration: 60ms;
}

#left-scheme:hover,
#right-scheme:hover {
    color: white;
    text-shadow: 0px 1px 0px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

#scheme-sample-box {
    border: 2px solid black;
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin: 0px 6px;
    outline: 2px solid white;
}

#scheme-sample {
    height: 100%;
    width: 100%;
    transform-origin: top left;
}

#scheme-sample li {
    height: 10px;
    width: 1000%;
    cursor: pointer;
}


/* Scheme transitions */

body,
#menu td {
    transition: background-color calc(var(--scheme-switch-speed));
}


/* Animation: page rotation */

#rotator {
    transform-origin: 718px 501px;
    transition-duration: var(--drawer-animation-speed);
    transition-property: transform;
}

body[data-active-band=band1] #rotator {
    transform: translate(0px, 0px) rotate(-30deg) scale(1.00);
}

body[data-active-band=band2] #rotator {
    transform: translate(-560px, 0px) rotate(0deg) scale(1.25);
}

body[data-active-band=band3] #rotator {
    transform: translate(-250px, 0px) rotate(0deg) scale(1.2);
}

body[data-active-band=band4] #rotator {
    transform: translate(-300px, 0px) rotate(0deg) scale(1.33);
}


/* Animation: sliding band drawers */

.bullets {
    opacity: 0;
    transition-property: all;
    transition-duration: calc(1.33 * var(--drawer-animation-speed));
}

tr.active-band .bullets {
    max-height: var(--drawer-open-extra-height);
    margin-bottom: 120px;
    opacity: 1;
    transition-duration: var(--drawer-animation-speed);
}


/* Submenus */

.submenu {
    width: 850px;
    margin-top: 30px;
    padding-left: 30px;
    margin-left: 48px;
    padding-bottom: 20px;
    overflow: hidden;
    border-left: 1px solid rgba(0, 0, 0, 0.7);
    font-size: 80%;
}

.submenu ul {
    margin-top: 30px;
}

.submenu li {
    text-align: left;
    text-transform: none;
}

.submenu li>a {
    font-weight: bold;
}

.submenu>li>footer {
    font-size: 80%;
    padding-top: 10px;
    padding-left: 28px;
    line-height: 150%;
}

.subtitle {
    padding-left: 34px;
}

#band3,
#band4,
#band5 {
    transform: translateX(0px);
    transition-duration: var(--drawer-animation-speed);
    transition-property: transform;
}

body[data-active-band=band2] #band3,
body[data-active-band=band2] #band4,
body[data-active-band=band2] #band5 {
    transform: translateX(174px);
}