/* Constants */

:root {
    --drawer-open-extra-height: 300px;
    --border-space-allowance: 10px;
    --hover-highlight-speed: 40ms;
    --drawer-animation-speed: 500ms;
    --scheme-switch-speed: 400ms;
    --drawer-magnification-factor: 0.025;
}


/* Font face */

@font-face {
    font-family: 'Bahnschrift Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Bahnschrift Regular'), url('res/BAHNSCHRIFT 1.woff') format('woff');
}


/* General page formatting */

a {
    text-decoration: inherit;
    color: inherit;
}


/* Topmost containers */

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    user-select: none;
    font-family: 'Bahnschrift Regular';
    text-transform: uppercase;
}

#rotator {
    height: 100vh;
    width: 100vw;
    overflow: visible;
}


/* Init-time styling (used to calculate scaling factors in JS) */

body:not(.init) {
    transform-origin: top left;
}

body.init #menu {
    width: 1px;
}

body.init #menu .header {
    padding-left: 0px;
}

body.init #band5 {
    display: none;
}


/* Color scheme defaults */

body {
    --color-text: #181818;
}

body .header {
    padding-bottom: var(--border-space-allowance);
}


/* Color scheme 1 */

body.scheme-1 {
    --color-1: #d97b29;
    --color-2: #f29f05;
    --color-3: #f2dc6b;
    --color-4: #7b8c3b;
    --color-5: #f2f2f2;
}


/* Color scheme 2 */

body.scheme-2 {
    --color-1: #025159;
    --color-2: #03A696;
    --color-3: #F28705;
    --color-4: #F25D27;
    --color-5: #F20505;
}

body.scheme-2 tr:not(#band1) .header {
    border-bottom: var(--border-space-allowance) solid black;
    padding-bottom: 0px;
}


/* Color scheme 3 */

body.scheme-3 {
    --color-1: #D9C58B;
    --color-2: #D9D4CC;
    --color-3: #8C3D0F;
    --color-4: #402617;
    --color-5: #8C583A;
}

body.scheme-3 tr:not(#band1) .header {
    border-bottom: var(--border-space-allowance) solid transparent;
    padding-bottom: 0px;
}


/* Color scheme 4 */

body.scheme-4 {
    --color-1: darkorange;
    --color-2: white;
    --color-3: turquoise;
    --color-4: white;
    --color-5: darkorange;
}


/* Color scheme 5 */

body.scheme-5 {
    --color-1: darkred;
    --color-2: white;
    --color-3: black;
    --color-4: white;
    --color-5: black;
}

body.scheme-5 #band1,
body.scheme-5 #band3 {
    color: white;
}

body.scheme-5 #menu tr:hover .header-text {
    text-shadow: -4px 0 0 black, -6px 0 0 white, -8px 0 0 white, -10px 0 0 white, -12px 0 0 black;
}

body.scheme-5 #band1 .bullets li:hover,
body.scheme-5 #band3 .bullets li:hover {
    text-decoration-color: white;
}


/* Color scheme application */

body,
#band1>td,
#sample-band-1 {
    background-color: var(--color-1);
}

body #band2>td,
#sample-band-2 {
    background-color: var(--color-2);
}

body #band3>td,
#sample-band-3 {
    background-color: var(--color-3);
}

body #band4>td,
#sample-band-4 {
    background-color: var(--color-4);
}

body #band5>td,
#sample-band-5 {
    background-color: var(--color-5);
}

body {
    color: var(--color-text);
}


/* Menu and bands */

#menu {
    margin-left: -9900px;
    width: 20000px;
}

.header {
    position: relative;
    height: 240px;
    width: 1px;
    padding-top: 120px;
    padding-left: 10000px;
    padding-right: 20px;
    text-align: right;
    font-size: 125px;
}

.ext {
    position: relative;
    transform: skew(0, 30deg);
    transform-origin: top left;
}

.header,
.ext {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0));
}

.header-text {
    transition: text-shadow var(--hover-highlight-speed);
}

#menu tr:hover .header-text {
    text-shadow: -6px 0vw 1vw rgba(255, 255, 255, 0.25), -6px 0vw rgba(255, 255, 255, 0.7), -6px 0vw rgba(255, 255, 255, 0.7), -7px 0vw rgba(128, 128, 128, 0.25);
    cursor: pointer;
    transition: text-shadow var(--hover-highlight-speed);
}

#band1.active-band:hover .header-text {
    text-shadow: none;
    cursor: default;
}


/* Band tweaks */

#band1>td {
    background-image: none;
}

#band1>td {
    font-size: 160px;
}

#band2>td {
    top: -3px;
}

#band3>td {
    top: -4px;
}

#band4>td {
    top: -5px;
}

#band5>td {
    top: -6px;
}

#band5 {
    height: 10000px;
}

.ext {
    left: -2px;
}


/* Bullet lists */

.bullets {
    font-size: 50px;
    max-height: 0;
    overflow: hidden;
    display: block;
}

.bullets ul {
    margin: 60px 0px;
}

.bullets li+li {
    padding-top: 40px;
}

.bullets li:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: rgba(37, 36, 36, 0.9);
}

#band3 .bullets ul {
    display: inline-block;
    transform-origin: top right;
    font-size: 105%;
}

#band4 .bullets ul {
    display: inline-block;
    text-align: left;
    font-size: 110%;
    transform-origin: center;
}


/* Scheme switcher */

#scheme-switcher {
    position: absolute;
    right: 50px;
    bottom: 40px;
    zoom: 0.5;
    opacity: 0.6;
    transition: opacity 0.15s;
}

#scheme-switcher:hover {
    opacity: 1;
    transition: opacity 0.1s;
}

#scheme-switcher * {
    display: inline-block;
    box-sizing: content-box;
    cursor: default;
    vertical-align: middle;
}

#left-scheme,
#right-scheme {
    text-shadow: 0px 1px 0px #f2f2f2, -1px -1px 0 #f2f2f2, 1px -1px 0 #f2f2f2, -1px 1px 0 #f2f2f2, 1px 1px 0 #f2f2f2;
    font-size: 160px;
    color: rgba(0, 0, 0, 0.95);
    cursor: pointer;
}

#scheme-sample-box {
    border: 2px solid black;
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 0px 6px;
}

#scheme-sample {
    transform: skew(0, 210deg) scaleY(1.75) translateY(-14px);
    transform-origin: left;
}

#scheme-sample li {
    height: 20px;
    width: 100px;
}


/* Scheme transitions */

body,
#menu td {
    transition: background-color calc(var(--scheme-switch-speed));
}


/* Animation: page rotation */

#rotator {
    transform-origin: 718px 501px;
    transition-duration: var(--drawer-animation-speed);
    transition-property: transform;
}

body[data-active-band=band1] #rotator {
    transform: translate(0px, 0px) scale(1.0) rotate(-30deg);
}

body[data-active-band=band2] #rotator {
    transform: translate(0px, 0px) scale(calc(1.0 + 1 * var(--drawer-magnification-factor))) rotate(0deg);
}

body[data-active-band=band3] #rotator {
    transform: translate(0px, -175px) scale(calc(1.0 - 1 * var(--drawer-magnification-factor))) rotate(0deg);
}

body[data-active-band=band4] #rotator {
    transform: translate(0px, -225px) scale(calc(1.0 - 2 * var(--drawer-magnification-factor))) rotate(0deg);
}


/* Animation: sliding band drawers */

.bullets {
    transition-duration: var(--drawer-animation-speed);
    transition-property: max-height;
}

tr.active-band .bullets {
    max-height: var(--drawer-open-extra-height);
    transition-duration: var(--drawer-animation-speed);
}